<%= form_for([@restaurant, @reservation]) do |f| %>
  <% if @reservation.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error")%> prohibited the reservation from being saved: </h2>
      <ul>
        <% @reservation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :dinner_time %>
      <%= f.datetime_select :dinner_time, minute_step: 30, ampm: true, start_hour: 11, end_hour: 20 %>
    </div>
    <div class="field">
      <%= f.label :party_size %>
      <%= f.number_field :party_size, min: 2, max: 20 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>