<h2>Reservations you have booked: </h2>
<% @reservations.each do |reservation| %>
  <ul>
    <li>From restaurant: <%= reservation.restaurant.name %></li>
    <li>Date & Time: <%= reservation.dinner_time %></li>
    <li>Party size: <%= reservation.party_size %></li>
  </ul>
  <p><%= link_to 'Edit reservation', edit_restaurant_reservation_path(reservation.restaurant, reservation) %></p>
<% end %>
<%= link_to 'Back to restaurants', restaurants_path %>