<h1>Restaurant <%= @restaurant.id %>: <%= @restaurant.name %></h1>
<p><%= @restaurant.name %></p>
<p><%= @restaurant.capacity %></p>

<% if current_user %>
  <h2>Book a reservation</h2>
  <%= form_for([@restaurant, @reservation]) do |f| %>
    <% if @reservation.errors.any? %>
      <div class="error_explanation">
        <h2><%= pluralize(@reservation.errors.count, "error")%> prohibited the reservation from being saved: </h2>
        <ul>
          <% @reservation.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :dinner_time %>
      <%= f.datetime_select :dinner_time, minute_step: 30, ampm: true, start_hour: 11, end_hour: 20 %>
    </div>
    <div class="field">
      <%= f.label :party_size %>
      <%= f.number_field :party_size, min: 2, max: 20 %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<h2>Reservations you have booked: </h2>
<% @restaurant.reservations.each do |reservation| %>
  <ul>
    <li>Date & Time: <%= reservation.dinner_time %></li>
    <li>Party size: <%= reservation.party_size %></li>
  </ul>
  <p><%= link_to 'Modify reservation', edit_restaurant_reservation_path(reservation.restaurant, reservation) %></p>
   <p><%= link_to 'Delete reservation', restaurant_reservation_path(reservation.restaurant, reservation), method: :delete, message: {confirm: "Are you sure you want to delete your reservation?"} %></p>
<% end %>

<%= link_to 'Back to restaurants', restaurants_path %>

 <% else %>
  <p>Please <%= link_to "log in", new_session_path %> to book a reservation.</p> 
 <% end %>
